@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #045de9;
  --secondary: #09c6f9;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-gradient {
  font-family: 'Dancing Script', cursive;
  background-color: var(--primary);
  background-image: linear-gradient(
    315deg,
    var(--primary) 0%,
    var(--secondary) 74%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
